---
import { storyblokEditable } from "@storyblok/astro";
import Richtext from "./Richtext.astro";

export type Props = {
  blok: {
    title: string;
    text: any;
  }
}

const { blok } = Astro.props;

---
<div class=" min-h-[500px]  p-20" {...storyblokEditable(blok)} >
  <h1 class="  text-4xl font-bold mb-6">{blok.title}</h1>
  <Richtext text={blok.text} />
</div>